{% extends 'post/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="blog-item">
            <h2><a href="{% url 'post:post_detail' post.pk %}">{{ post.title }} </a> </h2>
            <div class="info">
                By <span><a href="#">{{ post.author }}</a></span> | On <span>{{ post.creation_date }}</span>
            </div>
            <p> {{ post.body | truncatewords:30 }}</p>
                {% if post.read == True %}
                    <h6>seen</h6>
                {% else %}
                    <h6>Unseen. open to read</h6>
                {% endif %}
        </div>
    {% empty %}
        <div>
            <h3>There are no posts yet.</h3>
        </div>
    {% endfor %}
    {% include 'post/pagination_links.html' %}
{% endblock %}